<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<style>

input{
    background-color: yellow;
    padding:.5rem 2rem ;
    font-size:1.2rem;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
form{
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
}

</style>
<body>

<div class="main">

<nav class="navbar">
    <div class="logo">
        <h3>KhaataBook</h3>
    </div>
    <div class="menu">
        <p><a href="/">Home</a></p>
        <p><a href="/create">Create New Hisaab</a></p>
    </div>
</nav>

<div class="container">
    <form action="/edit/<%=filename%>" method="post">
       <textarea name="newData"><%= filedata%></textarea>
       <input type="submit" value="Update">
    </form>
</div>

</div>    

<script src="/javascripts/script.js"></script>
</body>
</html>
